In [16]:
#DATA TYPES
#Boolean
print('Boolean')
T=bool(1)
F=bool(0)
print('',T,'\n',F)
print('')

#String
print('String')
He='Hello'
Wo='World!'
print('',He,'\n',Wo)
print('')

#Integers
print('Int and Float')
num=int(1)
flo=float(3.1415)
print('',num,'\n',flo)
print('')
#Complex Numbers
print('Complex Numbers')
c_num=complex(8)
c_phasor=complex(3,4)
print('',c_num,'\n',c_phasor)

Boolean
 True
 False

String
 Hello
 World!

Int and Float
 1
 3.1415

Complex Numbers
 (8+0j)
 (3+4j)

In [50]:
#String Operations
print('String Operations\n')
Name='Paulina Grubiak'
#extracting data from the string using brackets ans range
print('\t'+Name)
#length of the string
print('\t 012 8. = ',Name[0:3],Name[8]+'.')
print('\tString Length: ',len(Name),'elements\n')

Numb='0123456789'

print('\tSequence: ',Numb)
print('\tPair #s: ',Numb[::2])
print('\tEven #s: ',Numb[1::2],'\n')

#String Methods
print('String Methods')
team='Atlas FC '
print(team)
print(team.lower())
print(team.upper()*4)

String Operations

	Paulina Grubiak
	 012 8. =  Pau G.
	String Length:  15 elements

	Sequence:  0123456789
	Pair #s:  02468
	Even #s:  13579

String Methods
Atlas FC
atlas fc
ATLAS FC ATLAS FC ATLAS FC ATLAS FC

# Tuples and Lists

In [32]:
#TUPLES accept multiple types and are IMMUTABLE!
tuple1=('Diego','Maradona',10)
print(tuple1[0],tuple1[-1])  #USING NEGATIVE INDEXES

#NESTING TUPPLES
tuple2=(1986,'Mexico',tuple1)
print(tuple2[2][1])

#FUNCTIONS
tuple3=(13,6,36,16,31,9,39,96,3)
print(tuple3)
tuple4=sorted(tuple3)
print(tuple4)

#LISTS CAN BE MODIFIED: ARE MUTABLE!
#SQUARE BRACKETS
fecha=[28,'March',2020]
print(fecha)
place=['Warsaw',fecha[2]]
print(place)
city=place[0]
flat=place.extend(['Inzynierzka',10])
print(place)
#DELETING 2020
del(place[1])
print(place)
#ADDING 1 ELEMENT OF 3 ELEMNETS INSIDE
place.append(['Int.',6,'CP 03422'])
print(place[3])
#EXTRACTING FROM NESTED LIST
print(place[3][2])

Diego 10
Maradona
(13, 6, 36, 16, 31, 9, 39, 96, 3)
[3, 6, 9, 13, 16, 31, 36, 39, 96]
[28, 'March', 2020]
['Warsaw', 2020]
['Warsaw', 2020, 'Inzynierzka', 10]
['Warsaw', 'Inzynierzka', 10]
['Int.', 6, 'CP 03422']
CP 03422